 /* Start Font */
 @import url('https://fonts.googleapis.com/css?family=Roboto');
 /* End Font */

 body {
    color: #24292e;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
}
h1{
    color:black;
    font-family:Roboto , calibry, helvetica;
    font-Size : 1625 px;
}

h2 {
    color:rgb(22, 22, 22);
}
h3 {

    color: black
}
 

/*Start Debug*/
.bg-rgb{
     background-color: rgb(212, 11, 78);
     padding: auto;
 }
.bg-red{
    background-color: darkred;
}
.bg-blue{
    background-color: blue;
}
.bg-grey{
    background-color: grey;
    margin-left: 10px;
    margin-right: 10px;
}
.bg-1{
    background-color:red;
    margin: 0;
    padding: 10px 20px;
}
/*End Debug*/

.artikel{
    color: black;
}

.layanan{
    color: black;
}

.promo{
    color:black;
}
.testimonial{
    color: black;
}

/* Start Container */
.container{
    margin: 10px auto;
    overflow: auto;
    width: 90%  
}

.main-home-one{
    float: left;
    width: 49.5%;
}


.container-full{
    margin: 10px auto;
    overflow: auto;
    width: 100%
}
/* End Container*/

/* Start Logo */
.logo{
    text-align: center;
}
/* End Logo */

/* Start Menu Primer */
.menu-primer ul {
    background-color: rgb(105, 19, 202);
    border-radius: 4px;
    box-shadow: 
        0 3px 5px-1px rgba(0,0,.2),
        0 6px 10px 0 rgba(0,0,.14),
        0 1px 18px 0 rgba(0,0,.12 );
}

.menu-primer li {
    border-right: 1px solid pink;
    display: inline-block;
}

.menu-primer a {
    color: #ffffff;
    font-size: 12px;
    display: inline-block;
    letter-spacing: 1px;  
    padding: 10px 20px;
    text-transform: uppercase; 
}

.menu-primer a:hover{
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
}

.menu-primier .activa{
    background-color: #ffffff;
    color: #333333;
    text-decoration: none;
}
/* End Menu Primer */
/* Start Anchor / hyperlink*/
a:link,
a:visited {
    color: blue;
    text-decoration: none;   
}
a:hover,
a:active {
    color: #000000;
    text-decoration: underline;
}
/* End Anchor / hyperlink*/

/* Start Heading */
h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 20px;
}    
h3 {
    font-size: 20px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 20px;
}
 
/* End Heading */

/* Start Jumbotron */
.jumbotron {
    background-color: #f6f8fa;
    border: 1px solid #eaecef;
    border-radius: 4px;
    padding: 20px 0;
} 

.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h2 {
    font-size: 20px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
}
/* End Jumbotron */ 

/* star main */
.main-home-one {
    float: left;
    width: 49.5%;
}

.main-home-two{
    float: right;
    width: 49.5%;
}
.main-home-one .box-isi,
.main-home-two .box-isi {
    height: 100px;
}
/* End main */

/* Start Box*/
.Box-heading {
    background-color: pink;
    border: 1 px solid #d1d5d1;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}
.box-heading-h4 {
    font-size: 14px;
    margin: 0;
}
.box-isi {
    background-color: #ffffff;
    border: 1px solid #d1d5d1;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
}    
/* End Box */

/* Start Testimonia */
.testimonial {
    border-left: 4px solid pink;
    margin-left: 30px;
    padding-left: 20px;
}
/* End Testimonial*/

/* Start Menu Sekunder*/
.menu-sekunder {
    background-color: pink;
    border-bottom: 1px solid rgb(68, 68, 167);
    border-top: 1px solid #4478c7;
    overflow: auto;
    padding: 10px 0;
}
.menu-sekunder h4 {
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
}
.menu-sekunder ul {
    padding: 0;
}
.menu-sekunder li {
    list style: disc;
}

.menu-sekunder li a,
.menu-sekunder p {
    font-size: 15px;
}

.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three{
    float: left;
}
.menu-sekunder-one {
    width: 40%;
}
.menu-sekunder-two,
.menu-sekunder-three {
     width: 30%;
 }
.menu-sekunder li img {
    vertikal-align: middle;
}
/* End Menu Sekunder*/

/* Start copyright */
.copyright p {
    font-size: 15px;
}
/* End copyright */
